.report img {
    width: 100%;
    pointer-events: auto
}

.report .rich-text p {
    margin-bottom: .26667rem
}

.report .cb-a {
    width: 100%;
    max-width: 17.06667rem;
    margin: 0 auto;
    padding: .3rem 0 .5rem;
    font-size: .55rem;
    color: #000;
    text-align: center;
    font-weight: 700
}

.report .cb-a i {
    margin-right: .15rem
}

.report .cb-a span {
    font-weight: 700
}

.report h6 {
    font-size: .52rem;
    margin-bottom: .4rem
}

.report .cb-a1 {
    width: 100%;
    max-width: 17.06667rem;
    margin: 0 auto;
    padding: .4rem 0 .4rem;
    font-size: .5rem;
    color: #b9a755;
    text-align: center
}

.report .cb-a1 i {
    margin-right: .15rem
}

.report .cb-a1 span {
    color: #b9a755
}

.report .cb-a2 {
    width: 100%;
    max-width: 17.06667rem;
    margin: 0 auto;
    padding: .4rem 0 .4rem;
    font-size: .5rem;
    color: #f6727e;
    text-align: center;
    font-weight: 700
}

.report .cb-a2 i {
    margin-right: .2rem
}

.report .cb-a2 span {
    color: #f6727e
}

.report .cb-b1 {
    font-size: .42rem;
    color: #666;
    line-height: .75rem;
    background: #fff7e9;
    border-radius: .22rem
}

.report .cb-b1 dl {
    padding: .5rem .3rem .1rem .4rem
}

.report .cb-b1 dl dt {
    font-size: .46rem;
    color: #b67705;
    font-weight: 700
}

.report .cb-b1 dl dt i {
    font-size: .6rem;
    margin-right: .1rem
}

.report .cb-b1 dl dd {
    padding-top: .42rem
}

.report .cb-b1 dl dd p,
.report .cb-b2 {
    line-height: .75rem
}

.report .cb-b2 {
    font-size: .42rem;
    color: #666;
    background: #dfebf7;
    border-radius: .22rem
}

.report .cb-b2 dl {
    padding: .5rem .3rem .1rem .4rem
}

.report .cb-b2 dl dt {
    font-size: .46rem;
    color: #5aa5eb;
    font-weight: 700
}

.report .cb-b2 dl dt i {
    font-size: .6rem;
    margin-right: .1rem
}

.report .cb-b2 dl dd {
    padding-top: .42rem
}

.report .cb-b2 dl dd p,
.report .cb-b3 {
    line-height: .75rem
}

.report .cb-b3 {
    font-size: .42rem;
    color: #666;
    background: #f2eff2;
    border-radius: .22rem
}

.report .cb-b3 dl {
    padding: .5rem .3rem .1rem .4rem
}

.report .cb-b3 dl dt {
    font-size: .46rem;
    color: #f6727e;
    font-weight: 700
}

.report .cb-b3 dl dt i {
    font-size: .6rem;
    margin-right: .1rem
}

.report .cb-b3 dl dd {
    padding-top: .42rem
}

.report .cb-b3 dl dd p,
.report .cb-b5 {
    line-height: .75rem
}

.report .cb-b5 {
    font-size: .42rem;
    color: #666;
    background: #e7d3f8;
    border-radius: .22rem
}

.report .cb-b5 dl {
    padding: .5rem .3rem .1rem .4rem
}

.report .cb-b5 dl dt {
    font-size: .46rem;
    color: #8d62b7;
    font-weight: 700
}

.report .cb-b5 dl dt i {
    font-size: .6rem;
    margin-right: .1rem
}

.report .cb-b5 dl dd {
    padding-top: .42rem
}

.report .cb-b5 dl dd p {
    line-height: .75rem
}

.report .vaaii {
    color: #f6727e
}

.report .vaaeq,
.report .vaaii {
    margin-right: .2rem;
    font-size: .5rem
}

.report .vaaeq {
    color: #b67705
}

.report .vaachen {
    margin-right: .2rem;
    font-size: .5rem
}

.report .vaaicce {
    margin-right: .28rem;
    font-size: .62rem;
    color: #f6727e
}

.report .vaazhi {
    margin-right: .2rem;
    font-size: .5rem;
    color: #8d62b7
}

.report .cb-b4 {
    font-size: .42rem;
    color: #666;
    line-height: .75rem;
    background: #f2eff2;
    border-radius: .22rem
}

.report .cb-b4 dl {
    padding: .5rem .3rem .1rem .4rem
}

.report .cb-b4 dl dt {
    font-size: .46rem;
    color: #f6727e;
    font-weight: 700;
    margin: 0 auto;
    text-align: center
}

.report .cb-b4 dl dt i {
    font-size: .6rem;
    margin-right: .1rem
}

.report .cb-b4 dl dd {
    padding-top: .42rem
}

.report .cb-b4 dl dd p {
    line-height: .75rem
}

.report .renge-m {
    padding: .2rem .5rem .03rem;
    margin-bottom: .5rem;
    background: #ebebeb;
    margin-top: .3rem;
    border-radius: .22rem
}

.report .renge-m p {
    line-height: .75rem;
    color: #5d5d5d;
    margin-bottom: .2rem
}

.report .renge-m p em {
    font-style: italic
}

.report .cc-b13 {
    margin: .5rem .5rem;
    padding: .2rem .3rem;
    background: #f5f5f5;
    font-size: .42rem;
    line-height: .75rem;
    color: #666;
    margin-top: .3rem;
    border-radius: .22rem
}

.report .cc-b13 img {
    width: 100%
}

.report .cc-b8 {
    text-align: center;
    color: #f6727e;
    margin: 0 .8rem;
    font-size: .4rem;
    line-height: .65rem
}

.report .cc-b8 i {
    font-size: .4rem;
    color: #f47882;
    margin-right: .13333rem
}

.report .ct-zy {
    margin: .5rem 0;
    font-size: .34rem;
    color: #666;
    line-height: .6rem
}

.report .ct-zy i {
    font-size: .4rem;
    color: #f47882;
    margin-right: .13333rem
}

.report .cb-b1 .cb-b2 .cb-b3 .cb-b4 .cb-b5 ul {
    margin-left: 5%;
    margin-bottom: .4rem
}

.report .cb-b1 .cb-b2 .cb-b3 .cb-b4 .cb-b5 ul li {
    list-style: disc
}

.report .pipei-yuanyin {
    padding: .2rem .3rem .01rem;
    line-height: .75rem;
    font-size: .42rem;
    margin-bottom: .5rem;
    background: #f5f5f5;
    margin-top: .3rem;
    border-radius: .22rem
}

.report .pipei-yuanyin h5 {
    font-size: .55rem;
    color: #ff5d7d;
    text-align: center;
    margin: .3rem 0
}



.report h5 {
    color: #ff5d7d;
    font-size: .5rem;
    line-height: .85rem;
    margin-bottom: .15rem
}

.report .xl-b15 {
    margin: .5rem .5rem;
    border-bottom: .02667rem solid #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.report .xl-b15 span {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: .2rem 0;
    font-size: .38rem;
    color: #555;
    text-align: center;
    border-radius: .2rem .2rem 0 0;
    cursor: pointer
}

.report .xl-b15 span.on {
    background: #f0edf0;
    color: #333;
    font-weight: 700
}

.report .xl-b15box {
    display: none
}

.report .xl-b15box.on {
    display: block
}

.report .xl-b15box-a1 {
    margin: 1rem 0 0 .5rem;
    font-size: .48rem;
    color: #555;
    font-weight: 700
}

.report .xl-b15a1 span i {
    color: #cbb8ba;
    font-size: .5rem
}

.report .xl-b15a1 span.on {
    background: #79b996
}

.report .xl-b15a1 span.on i {
    color: #fff
}

.report .xl-b15box-a2 {
    margin-top: .4rem;
    text-align: center;
    color: #f6727e;
    font-size: .63rem;
    font-weight: 700
}

.report .xl-b15box-a3 {
    margin: .5rem .5rem;
    color: #555;
    font-size: .42rem;
    line-height: .75rem
}

.report .xl-b15box-a3 li {
    list-style: outside decimal;
    margin: .2rem 0 0 .5rem
}

.report .lx-title {
    text-align: center
}

.report .lx-title span {
    font-size: .64rem;
    color: #ff5d7d
}

.report .lx-title-2 {
    text-align: center
}

.report .lx-title-2 span {
    color: #95a5a6
}

.report .zhong {
    text-align: center
}

.report .zhong i {
    color: #ff5d7d;
    margin-right: .1rem
}

.report .zhutise {
    color: #ff5d7d
}

.report .xl-a {
    width: 100%;
    max-width: 17.06667rem;
    margin: 0 auto;
    padding-top: .5rem;
    font-size: .55rem;
    color: #000;
    text-align: center
}

.report .xl-a i {
    margin-right: .2rem
}

.report .xl-a span {
    font-weight: 700
}

.report .xl-a {
    margin-bottom: .3rem
}

.report .xl-b15box ul {
    margin-left: 5%;
    margin-bottom: .4rem
}

.report .xl-b15box ul li {
    list-style: disc
}

.report .xl-b9 {
    margin: .5rem .5rem 1rem;
    font-size: .42rem;
    color: #666;
    line-height: .75rem;
    background: #fff7e9;
    border-radius: .22rem
}

.report .xl-b9 dl {
    padding: .5rem .3rem .1rem .4rem
}

.report .xl-b9 dl dt {
    font-size: .46rem;
    color: #b67705;
    font-weight: 700
}

.report .xl-b9 dl dt i {
    font-size: .6rem;
    margin-right: .1rem
}

.report .xl-b9 dl dd {
    padding-top: .42rem
}

.report .xl-b9 dl dd p {
    line-height: .75rem;
    margin-bottom: .4rem
}


.report .bawei-youlie {
    text-align: center;
    margin-bottom: .8rem;
    position: relative
}

.report .bawei-baogao {
    text-align: center;
    margin-bottom: .8rem;
    font-size: .37333rem;
    line-height: .74667rem
}

.report .bawei-youlie h6 {
    color: #612fc6;
    font-size: .53333rem;
    margin-bottom: 0
}

.report .bawei-youlie h6:before {
    left: 2rem;
    top: -.26667rem
}

.report .bawei-youlie h6:after,
.report .bawei-youlie h6:before {
    width: .64rem;
    height: .64rem;
    content: "";
    position: absolute;
    background: #612fc6;
    opacity: .1
}

.report .bawei-youlie h6:after {
    right: 2rem;
    bottom: .58667rem
}

.report .bawei-youlie span {
    color: #612fc6;
    font-size: .32rem;
    opacity: .2
}

.report .bawei-bg1 {
    background-color: #79b996;
    color: #fff
}

.report .bawei-bg2 {
    background-color: #4272e5;
    color: #fff
}

.report .bawei-bg3 {
    background-color: #f7946c;
    color: #fff
}

.report .bawei-bg4 {
    background-color: #72be72;
    color: #fff
}

.report .bawei-baogao table {
    width: 100%
}

.report .bawei-baogao table td {
    height: 1.33333rem
}

.report .bawei-bg1-1 {
    background: #8965cf;
    color: #fff;
    font-size: .48rem;
    font-weight: 600
}

.report .bawei-bg1-2,
.report .bawei-bg1-3 {
    background: #ebeef6;
    font-size: .32rem;
    color: #000
}

.report .bawei-bg1-4 {
    background: #fdf9f7;
    font-size: .32rem;
    color: #000
}

.report .bawei-bg1-5 {
    background: #eaf5ea;
    font-size: .32rem;
    color: #000
}

.report .bawei-zhudao {
    margin-bottom: 1.06667rem
}

.report .bawei-zhudao h5 {
    color: #612fc6;
    text-align: center
}

.report .bawei-zhudao span {
    width: 1.6rem;
    height: .08rem;
    background: #612fc6;
    display: block;
    margin: auto;
    margin-bottom: .8rem
}

.report .bawei-shehui h5 {
    color: #612fc6;
    text-align: center
}

.report .bawei-shehui span {
    width: 1.6rem;
    height: .08rem;
    background: #612fc6;
    display: block;
    margin: auto;
    margin-bottom: .8rem
}

.report .bawei-youshi {
    background: -webkit-gradient(linear, left top, right top, from(#2659d5), to(#6e8fe2));
    background: -o-linear-gradient(left, #2659d5, #6e8fe2);
    background: linear-gradient(90deg, #2659d5, #6e8fe2);
    padding: .4rem;
    margin-bottom: .53333rem
}

.report .bawei-youshi h6 {
    color: #fff
}

.report .bawei-youshi-1 {
    background-color: #fff;
    padding: .26667rem
}

.report .bawei-lieshi {
    background: -webkit-gradient(linear, left top, right top, from(#f68f67), to(#f2a385));
    background: -o-linear-gradient(left, #f68f67, #f2a385);
    background: linear-gradient(90deg, #f68f67, #f2a385);
    padding: .4rem
}

.report .bawei-lieshi h6 {
    color: #fff
}

.report .bawei-youlie-xian {
    border-bottom: .02667rem solid #e5e5e5;
    text-align: center;
    margin-bottom: .8rem
}

.report .bawei-shehui .bawei-lieshi,
.report .bawei-shehui .bawei-youshi {
    background: -webkit-gradient(linear, left top, right top, from(#f1f0f6), to(#f1f0f6));
    background: -o-linear-gradient(left, #f1f0f6, #f1f0f6);
    background: linear-gradient(90deg, #f1f0f6, #f1f0f6);
    font-size: .37333rem;
    line-height: .64rem
}

.report .bawei-shehui .bawei-lieshi h6,
.report .bawei-shehui .bawei-youshi h6 {
    color: #2b2b2b
}

.report .bawei-youshi-2 {
    background-color: #fff;
    padding: .26667rem
}

.report .bawei-shehui p,
.report .bawei-youshi-1 p {
    font-size: .37333rem;
    line-height: .64rem;
    color: #6a6a6a
}

.report .bawei-shehui {
    margin-bottom: .8rem
}

.report .bawei-jieduan-h h6 {
    background-color: #8965cf;
    color: #fff;
    font-size: .48rem;
    padding: .26667rem;
    margin-bottom: 0
}

.report .bawei-jieduan {
    background-color: #f8f8f8;
    padding: .26667rem;
    font-size: .37333rem;
    line-height: .64rem;
    margin-bottom: .53333rem
}

.report .bawei-jieduan-1 strong {
    font-size: .42667rem;
    margin: .13333rem 0;
    display: block;
    color: #000
}

.report .xmbti-zyfx {
    background-color: #5587dd;
    padding: .26667rem
}

.report .xmbti-zyfx-1 {
    background-color: #fff;
    border-radius: .53333rem;
    padding: .53333rem .26667rem;
    margin-bottom: .53333rem
}

.report .xmbti-zyfx-1 h5 {
    font-size: .74667rem;
    text-align: center;
    position: relative;
    z-index: 10
}

.report .xmbti-zyfx-1 h6 {
    color: #fff;
    font-size: .37333rem;
    background-color: #5587dd;
    display: inline-block;
    padding: .05333rem .53333rem;
    font-weight: 400;
    border-radius: 0 .53333rem .53333rem 0;
    position: relative
}

.report .xmbti-zyfx-1 h6:before {
    left: .26667rem;
    width: .16rem;
    height: .16rem;
    border-radius: .26667rem;
    content: "";
    position: absolute;
    top: 40%;
    background: #fff
}

.report .xmbti-zyfx-1 strong {
    display: block
}

.report .xmbti-zyfx-1 p {
    font-size: .37333rem;
    line-height: .64rem
}

.report .zyfx-tilte {
    height: 1.33333rem;
    margin-bottom: .53333rem
}

.report .xmbti-zyfx-1 h5>span {
    color: #000
}

.report .zyfx-xhx {
    height: .21333rem;
    border-radius: .53333rem;
    background: #b6caef;
    position: relative;
    top: .85333rem;
    z-index: 1
}

.report .zyfx-lan h5,
.report .zyfx-lan strong {
    color: #487bd6
}

.report .zyfx-zi h5,
.report .zyfx-zi strong {
    color: #8965cf
}

.report .zyfx-zi h6 {
    background: #8965cf
}

.report .zyfx-zi .zyfx-xhx {
    background: #c3b3e4;
    width: 92%;
    margin: auto
}

.report .zyfx-cheng h5,
.report .zyfx-cheng strong {
    color: #ce6e34
}

.report .zyfx-lv h5,
.report .zyfx-lv strong {
    color: #458482
}

.report .zyfx-cheng .zyfx-xhx {
    background: #ecc1a5;
    width: 40%;
    margin: auto
}

.report .zyfx-lv .zyfx-xhx {
    background: #84ddd9;
    width: 40%;
    margin: auto
}

.report .zyfx-lv h6 {
    background-color: #458482
}

.report .zyfx-cheng h6 {
    background-color: #ce6e34
}

.report .zyfx-lan .zyfx-xhx {
    width: 92%;
    margin: auto
}

.report .rich-text .zyfx-zi p {
    margin-bottom: 0
}

.report .xmbti-zyfx-1-sida1 {
    margin-bottom: .53333rem
}

.report .xmbti-zyfx-1-sida2,
.report .xmbti-zyfx-1-sida3 {
    margin-bottom: .26667rem
}

.report .xmbti-zyfx-1-sida2 strong {
    margin-bottom: .13333rem
}

.report .xmbti-zyfx-1-sida3 strong {
    margin: .26667rem 0 .13333rem
}

.report .xmbti-zyfx-1-1 {
    background: #f5f5f5;
    padding: .26667rem;
    margin-bottom: .26667rem
}

.report .zyfx-cheng .zyfx-cheng-ul {
    margin: 0 0 .53333rem 0;
    padding: 0;
    display: block
}

.report .zyfx-cheng .zyfx-cheng-ul li {
    color: #3d3d3d;
    border: none;
    width: auto;
    text-align: left;
    margin: 0 0 .13333rem .4rem;
    font-size: .37333rem;
    line-height: .64rem;
    list-style-type: disc
}

.report .zyfx-cheng .xmbti-zyfx-1-1 p {
    margin-bottom: .13333rem
}

.report .xmbti-zyfx-1-2 {
    margin-top: .53333rem
}

.report .zyfx-cheng .xmbti-zyfx-1-2 p {
    margin-bottom: .13333rem
}

.report .zyfx-lv .xmbti-zyfx-1-1 {
    margin-bottom: .53333rem
}

.report .zyfx-lv .xmbti-zyfx-1-1 ul {
    margin: 0;
    padding: 0 0 0 .26667rem;
    display: block
}

.report .zyfx-lv .xmbti-zyfx-1-1 li {
    text-align: left;
    border: none;
    color: #3d3d3d;
    width: auto;
    list-style-type: disc
}